{% set _entity_config = easyadmin_entity('Clinic') %}
{% set _entity_id = app.request.query.get('clinic') %}
{% block body_class  'list' %}

{% extends 'easy_admin/Clinic/clinic_layout.html.twig' %}


{% block content_header %}
    <div class="row">
        <div class="col-sm-5">
            {% block content_title_wrapper %}
                <h1 class="title">{{ block('content_title') }}</h1>
            {% endblock %}
        </div>

        <div class="col-sm-7">
            <div class="global-actions">
            </div>
        </div>
    </div>
{% endblock content_header %}

{% block main %}
    <div class="table-responsive">
    <table class="table">
        <thead>
        {% block table_head %}
            <tr>
                {% for field in fields %}
                    <th class="">
                        <span>
                            {{ field }}
                        </span>
                    </th>
                {% endfor %}
            </tr>
        {% endblock table_head %}
        </thead>

        <tbody>
        {% block table_body %}
            {% for id, doctor in doctors %}
                <tr data-id="{{ id }}">
                    <td class="image">
                        <div class="easyadmin-vich-image">
                            <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ id }}" data-featherlight-close-on-click="anywhere">
                                <img src="{{ vich_uploader_asset(doctor, 'imageFile') }}">
                            </a>

                            <div id="{{ id }}" class="easyadmin-lightbox">
                                <img src="{{ vich_uploader_asset(doctor, 'imageFile') }}">
                            </div>
                        </div>
                    </td>
                    <td data-label="">
                        {{ doctor.name }}
                    </td>
                    <td data-label="">
                        {{ doctor.speciality }}
                    </td>
                    <td data-label="">
                        {{ doctor.speciality }}
                    </td>
                    <td data-label="">
                        {{ doctor.speciality }}
                    </td>
                    <td data-label="">
                        {{ doctor.speciality }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="no-results" colspan="3">
                        {{ 'search.no_results' }}
                    </td>
                </tr>
            {% endfor %}
        {% endblock table_body %}

        </tbody>
    </table>
        <p class="text-right">
            <a href="{{ path('easyadmin', { entity: 'Doctor', action: 'new', clinic: _entity_id }) }}">Add regular professional</a> or
            <a href="{{ path('easyadmin', { entity: 'Doctor', action: 'new', clinic: _entity_id }) }}">Add Duty Doctor (locum)</a>
        </p>
    </div>

{% endblock main %}