{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}

{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends 'easy_admin/Clinic/clinic_layout.html.twig' %}

{% block body_id 'easyadmin-edit-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'edit edit-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'edit.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.edit.title is defined ? _entity_config.edit.title|trans(_trans_parameters) : _default_title }}
{% endspaceless %}
{% endblock %}

{% block main %}
    {% block entity_form %}
        {{ form_start(form) }}
            <div class="row">
                <div class="field-group col-md-8">
                    {{ form_row(form.name) }}
                    {{ form_row(form.profile.login) }}
                    {{ form_row(form.profile.email) }}
                    {{ form_row(form.website) }}
                </div>
                <div class="field-group col-md-4">

                    {{ form_row(form.profile.imageFile) }}
                    {{ form_row(form.profile.status) }}
                </div>
            </div>
            {{ form_row(form.profile.type) }}
            {{ form_row(form.profile.phone) }}
            {{ form_row(form.profile.postcode) }}
            {{ form_row(form.profile.overview) }}
            {#{{ form_row(form.profile.specialties) }}#}
            {{ form_row(form.features) }}
            {{ form_row(form.illnes) }}
            {{ form_row(form.treatments) }}
            {{ form_row(form.tests) }}
            {{ form_row(form.profile.available24Hours) }}
            {{ form_row(form.profile.onlineConsultation) }}
            {{ form_row(form.profile.doesNotRequireGPreferral) }}
            {#<div class="row">#}
                {#<div class="field-group col-md-4">#}
                    {#{{ form_row(form.media) }}#}
                {#</div>#}
            {#</div>#}
        {{ form_end(form) }}
    {% endblock entity_form %}

    {% block delete_form %}
        {{ include('@EasyAdmin/default/includes/_delete_form.html.twig', {
            view: 'edit',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('.edit-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });

            $('.form-actions').easyAdminSticky();

            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });
        });
    </script>

    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
