{% set _entity_id = app.request.query.get('clinic') %}
{% if _entity_id is empty  %}
    {% if entity is defined  %}
        {% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
    {% endif %}
{% endif %}

{% macro render_menu_item(item, translation_domain) %}
    {% if item.type == 'divider' %}
        {{ item.label|trans(domain = translation_domain) }}
    {% else %}
        {% set menu_params = { menuIndex: item.menu_index, submenuIndex: item.submenu_index } %}
        {% set path =
            item.type == 'link' ? item.url :
            item.type == 'route' ? path(item.route, item.params) :
            item.type == 'entity' ? path('easyadmin', { entity: item.entity, action: 'list' }|merge(menu_params)|merge(item.params)) :
            item.type == 'empty' ? '#' : ''
        %}

        {# if the URL generated for the route belongs to the backend, regenerate
           the URL to include the menu_params to display the selected menu item
           (this is checked comparing the beginning of the route URL with the backend homepage URL)
        #}
        {% if item.type == 'route' and (path starts with path('easyadmin')) %}
            {% set path = path(item.route, menu_params|merge(item.params)) %}
        {% endif %}

        <a href="{{ path }}" {% if item.target|default(false) %}target="{{ item.target }}"{% endif %}>
            {% if item.icon is not empty %}<i class="fa {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|trans(domain = translation_domain) }}</span>
            {% if item.children|default([]) is not empty %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as helper %}

{% block main_menu_before %}{% endblock %}

<ul class="sidebar-menu">

    {% block main_menu %}
        {#{% for item in _menu_items %}#}
            {% if _entity_id  is defined %}
                {% block menu_item %}
                    <li class="{{ app.request.query.get('submenuIndex')|default(-1) != -1 ? 'submenu-active' }}">
                        <a href="{{ path('admin') }}?entity=Clinic&action=list">
                            <i class="fa fa-chevron-circle-left"></i>
                            <span>Back to List</span>
                        </a>
                    </li>
                    <li class="{{ app.request.query.get('submenuIndex')|default(-1) != -1 ? 'submenu-active' }}">
                        <a href="{{ path('easyadmin',
                            {
                                'entity' : 'Doctor',
                                'action' : 'list',
                                'menuIndex' : 0,
                                'submenuIndex' : -1,
                                'page':1,
                                'clinic':_entity_id
                            }
                        ) }}">
                            <i class="fa fa-user-md"></i>
                            <span>Manage Doctors</span>
                        </a>
                    </li>
                {% endblock menu_item %}
            {% endif %}
        {#{% endfor %}#}
    {% endblock main_menu %}
</ul>

{% block main_menu_after %}{% endblock %}
