{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans } %}
{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-new-' ~ _entity_config.name %}
{% block body_class 'new new-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'new.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {{ _entity_config.new.title is defined ? _entity_config.new.title|trans(_trans_parameters) : _default_title }}
{% endspaceless %}
{% endblock %}

{% block main %}
    {% block entity_form %}
        {{ form_start(form) }}
            <div class="row">
                <div class="field-group col-md-8">
                    {{ form_row(form.name) }}
                    {{ form_row(form.profile.login) }}
                    {{ form_row(form.profile.email) }}
                    {{ form_row(form.website) }}
                </div>
                <div class="field-group col-md-4">

                    {{ form_row(form.profile.imageFile) }}
                    {{ form_row(form.profile.status) }}
                </div>



            </div>

                {{ form_row(form.profile.type) }}
                {{ form_row(form.profile.phone) }}
                {{ form_row(form.profile.postcode) }}
                {{ form_row(form.profile.overview) }}
                {{ form_row(form.features) }}
                {{ form_row(form.illnes) }}
                {{ form_row(form.treatments) }}
                {{ form_row(form.profile.available24Hours) }}
                {{ form_row(form.profile.onlineConsultation) }}
                {{ form_row(form.profile.doesNotRequireGPreferral) }}
        {{ form_end(form) }}

    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('.new-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });

            $('.form-actions').easyAdminSticky();
        });
    </script>

    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
