{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profiles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Email</th>
                <th>Type</th>
                <th>Phone</th>
                <th>Overview</th>
                <th>Password</th>
                <th>Status</th>
                <th>Created</th>
                <th>Image</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td><a href="{{ path('profile_show', { 'id': profile.id }) }}">{{ profile.id }}</a></td>
                <td>{{ profile.login }}</td>
                <td>{{ profile.email }}</td>
                <td>{{ profile.type }}</td>
                <td>{{ profile.phone }}</td>
                <td>{{ profile.overview }}</td>
                <td>{{ profile.password }}</td>
                <td>{{ profile.status }}</td>
                <td>{{ profile.created }}</td>
                <td>{{ profile.image }}</td>
                <td>{% if profile.createdAt %}{{ profile.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if profile.updatedAt %}{{ profile.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('profile_show', { 'id': profile.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('profile_edit', { 'id': profile.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profile_new') }}">Create a new profile</a>
        </li>
    </ul>
{% endblock %}
