{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profile.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ profile.login }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ profile.email }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ profile.type }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ profile.phone }}</td>
            </tr>
            <tr>
                <th>Overview</th>
                <td>{{ profile.overview }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ profile.password }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ profile.status }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ profile.created }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ profile.image }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if profile.createdAt %}{{ profile.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if profile.updatedAt %}{{ profile.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profile_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('profile_edit', { 'id': profile.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
