{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class=page-header>Contact Form in Symfony</h2>

                {{form(form)}}
                {#{{form_widget(form)}}#}
                {#{{form_end(form)}}#}

            </div>
        </div>
    </div>

{% endblock %}