{#{% extends "@FOSUser/layout.html.twig" %}#}
{% extends 'easy_admin/Security/login_layout.html.twig' %}

{% block fos_user_content %}
    {{ include('easy_admin/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
